<h2>Post #<%= @post.id %></h2><br>
<h3>Name: <%= @post.name %></h3><br>
<p>Content: <%= @post.content %></p><br>
<h2>Enter your edits below...</h2><br>
<form method="POST" action="patch '/posts/:id'">
  <h3>Name: <input id="hidden" type="hidden" name="name_method" value="patch"></h3><br>
  <p>Content: <input id="hidden" type="hidden" name="content_method" value="patch"></p><br>
  <input type="submit" value="submit">
</form>
