<form method="POST" action="/posts">
  <h2>Name: <input type="text" name="post[:name]"></h2><br>
  <p>Content: <input type="text" name="post[:content]"></p><br>
  <input type="submit" name="submit">
</form>
