<h2>Post #<%= @post.id %></h2>
<h3>Name: <%= @post.name %></h3>
<p>Content: <%= @post.content %></h3>
<form method="POST" action="/posts/<%= @post.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
